body{
    background-color:rgb(253, 173, 0);
}

.box_main{
    display: flex;
    margin: 20px 150px 20px 150px;
    height: 200px;
    background-color: white;
}

.logo1 {
    margin: 20px 0 0 20px;
    border-radius: 50%;
}

.logo2 {
    margin: 20px 20px 0 0;
    border-radius: 50%;
}

.box_main h4{
    margin: 35px 33px 0 33px ;
}